@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Prata";
  src: url("../fonts/Prata-Regular.woff2") format("woff2"), url("../fonts/Prata-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.side-line {
  position: relative;
}

.side-line::before {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(100% + 15px);
  width: 50px;
  height: 1px;
  background-color: #8B8371;
}

.side-line_right::before {
  right: unset;
  left: calc(100% + 15px);
}

.catalog-link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 26px 38px;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #444240;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FDFDFB;
  color: #1B1A17;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 50px;
}

.header {
  padding: 28px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 65px;
}

.nav__link {
  color: #555248;
  font-size: 14px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 23px;
}

.like-btn {
  position: relative;
}

.like-btn__count {
  position: absolute;
  top: -5px;
  right: -8px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  font-size: 8px;
  line-height: 13px;
  text-align: center;
  background-color: #E6C8B4;
}

.hero {
  position: relative;
  height: calc(100vh - 85px);
  overflow: hidden;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 0 185px;
}

.hero__left {
  width: 100%;
  max-width: 45%;
}

.hero__title {
  margin-bottom: 20px;
  font-family: "PlayfairDisplay", serif;
  font-size: 45px;
  line-height: 1;
  font-weight: 400;
}

.hero__subtitle {
  margin-bottom: 35px;
  font-family: "PlayfairDisplay", serif;
  font-size: 30px;
  line-height: 1;
}

.hero__description {
  max-width: 262px;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: rgba(27, 26, 23, 0.82);
}

.hero__product {
  position: absolute;
  top: -2.5%;
  bottom: -2.5%;
  z-index: -1;
  left: 59.88%;
  transform: translate(-50%);
  aspect-ratio: 698/804;
  background: url("../images/hero-watch.png") no-repeat right/auto 100%, url("../images/semisphere.svg") no-repeat left/auto 95.65%;
}

.hero-poduct__price {
  position: absolute;
  left: 16.33%;
  top: 157px;
  font-family: "Prata", serif;
  white-space: nowrap;
}

.hero-poduct__feature {
  position: absolute;
  right: -85px;
  bottom: 135px;
  font-family: "Prata", serif;
  white-space: nowrap;
}

.popular {
  position: relative;
  padding: 80px 0 86px;
  background-color: #fff;
}

.popular__title {
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: 400;
  font-family: "PlayfairDisplay", serif;
  text-align: center;
}

.popular__see-all {
  position: absolute;
  top: 115px;
  right: 98px;
  padding-bottom: 10px;
  border-bottom: 1px solid #C4C0B6;
  font-weight: 500;
  line-height: 1;
  color: #444240;
}

.popular__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 30px;
}

.popular__item {
  justify-self: center;
}

.popular-product {
  width: 370px;
  padding: 40px 28px;
  background-color: #FDFDFB;
}

.popular-product__title {
  margin-bottom: 10px;
  padding: 0 12px;
  font-family: "PlayfairDisplay", serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.82);
}

.popular-product__price {
  margin-bottom: 2px;
  padding: 0 12px;
  font-family: "Prata", serif;
  font-size: 12px;
  color: rgba(27, 26, 23, 0.82);
}

.popular-product__img {
  width: 100%;
  margin-bottom: 20px;
  aspect-ratio: 1;
  background: url("../images/popular-products/arc.svg") no-repeat center/cover;
}

.popular-product__details {
  margin-left: 60px;
  font-family: "PlayfairDisplay", serif;
}
.popular-product__details::before {
  width: 30px;
}

@media (max-width: 1150px) {
  .hero {
    height: auto;
    aspect-ratio: 1366/768;
  }
  .hero__container {
    padding: 0 130px;
  }
  .hero-poduct__price {
    top: 15%;
    left: 20%;
    font-size: 14px;
  }
  .hero-poduct__feature {
    bottom: 15%;
    font-size: 14px;
  }
  .hero-poduct__price::before, .hero-poduct__feature::before {
    width: 30px;
  }
}
@media (max-width: 875px) {
  .container {
    padding: 0 35px;
  }
  .header__container {
    gap: 45px;
  }
  .nav__list {
    gap: 30px;
  }
  .hero {
    height: 0;
    min-height: 450px;
    aspect-ratio: unset;
    padding: 20px 0;
  }
  .hero__container {
    padding: 0 70px;
  }
  .hero__title::before {
    display: none;
  }
  .hero-poduct {
    left: 56%;
  }
  .hero-poduct__price {
    left: 90%;
  }
  .hero-poduct__price::before {
    right: calc(100% + 15px);
    left: unset;
  }
  .hero-poduct__feature {
    left: 90%;
    right: unset;
  }
  .popular__title {
    margin-bottom: 70px;
  }
  .popular__see-all {
    right: 50px;
    top: 135px;
  }
  .popular__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .popular-product {
    width: 300px;
  }
}
@media (max-width: 680px) {
  .container {
    padding: 0 25px;
  }
  .header__container {
    align-content: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .nav {
    order: 1;
    width: 100%;
  }
  .nav__list {
    gap: 15px;
    max-width: 400px;
    justify-content: space-between;
    margin: 0 auto;
  }
  .controls {
    gap: 30px;
  }
  .hero {
    min-height: unset;
    height: auto;
  }
  .hero__left {
    max-width: unset;
  }
  .hero__title {
    font-size: 33px;
  }
  .hero__subtitle {
    font-size: 24px;
  }
  .hero__description {
    max-width: 55%;
    margin-bottom: 45px;
  }
  .hero__product {
    left: unset;
    right: 0;
    top: unset;
    bottom: 0;
    max-width: 60%;
    height: 88%;
    max-height: 90%;
    transform: none;
  }
  .hero-poduct__price, .hero-poduct__feature {
    display: none;
  }
  .popular__see-all {
    right: 20px;
  }
  .popular-product {
    width: 100%;
    max-width: 450px;
  }
}
@media (max-width: 400px) {
  .container {
    padding: 0 10px;
  }
  .controls {
    gap: 23px;
  }
  .hero .catalog-link {
    padding: 20px 30px;
    font-size: 11px;
  }
  .hero-poduct {
    bottom: 15px;
    height: 75%;
    background-position: right -10px center, left;
  }
  .popular__container {
    padding: 0;
  }
  .popular__title {
    padding: 0 10px;
    font-size: 30px;
  }
  .popular__see-all {
    font-size: 15px;
  }
  .popular__list {
    grid-template-columns: 100%;
    gap: 20px;
  }
  .popular__item {
    width: 100%;
  }
  .popular-product {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */